name: Static Code Analysis

on: [ push, pull_request ]

jobs:
  spotbugs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Install required tools
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "8"

      # Run static code analysis
      - name: Run spotbugs:check
        run: mvn spotbugs:check -B
