name: Test

on: [ push, pull_request ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macOS-latest ]
    steps:
      - uses: actions/checkout@v3

      # Install required tools
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "8"

      # Install the plugin to allow running the integration tests
      - name: Install plugin
        run: mvn install -B -DskipTests

      # Run tests
      - name: Run Tests
        run: mvn verify -B -DskipITs=false
